<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Meet</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='all.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

{% extends "header.html" %} {% block body%}

<body>
    <!-- User silder -->
    <div class="user_slider_main">
        <div class="slider_things">
            {% for i in user %}
            <div class="user">
                {% if i.dp_addr %}
                {% if i.is_active == True %}
                <div class="online"
                    style="position: absolute;background-color: green;height: 10px;width: 10px;border-radius: 50%;">
                </div>
                {% else %}
                <div class="offline"
                    style="position: absolute;background-color: red;height: 10px;width: 10px;border-radius: 50%;"></div>
                {% endif %}
                <img src="{{ url_for('static', filename=i.dp_addr) }}" alt="" srcset="" style="position: relative;">
                {% endif %}
                <br>
                {{ i.username }}
            </div>

            {% endfor %}
        </div>
    </div>

    <!--Post and Profile -->
    <div class="main_section_meet">
        <div class="meet_post">
            {% for i in display_posts %}
            {% if i.post_addr %}
            <div class="post">
                <p class="pt-2" style="text-align: left;padding-left: 10px;">
                    <img src="{{url_for('static',filename=i.author.dp_addr)}}" alt="" srcset=""
                        style="    width: 43px;height: 43px;margin-right: 7px;border: 1px solid black;border-radius: 50%;"><span
                        class="pt-3">{{i.author.username}} </span>
                    <button onclick="myFunction()" class="dropbtn"><i
                            class="fa-solid fa-ellipsis-vertical"></i></button>
                </p>
                <div id="myDropdown" class="dropdown-content">
                    {%if i.author.name == current_user.name %}
                    <a href="{{url_for('post_api.edit_post',post_id=i.post_id)}}"
                        style="font-size: 13px;margin: 15px;letter-spacing: 1px;">Edit Post
                    </a>
                    <a href="#myModal" class="trigger-btn" data-toggle="modal"
                        style="font-size: 13px;margin: 15px;letter-spacing: 1px;">Delete
                    </a>
                    <a href="{{url_for('static',filename=i.post_addr)}}"
                        style="font-size: 13px;margin: 15px;letter-spacing: 1px;" download="post_image">download</a>
                    {% endif %}
                    <a href="{{url_for('user_api.profile',tenant=i.author.name)}}"
                        style="font-size: 13px;margin: 15px;letter-spacing: 1px;"> profile</a>
                </div>


                <img src="{{url_for('static',filename=i.post_addr)}}" alt="" srcset="">
                <p class="mt-3" style="font-size: 15px;text-align: left;padding-left: 10px;margin-bottom: 0;">
                    {{i.author.username}} : <span style="font-weight: 300;">{{i.post_caption}}</span></p>
                <div class="like-comment" style="height: 40px;">
                    <h5 class="mt-1" style="margin-left: 10px;">{{i.post_like}} Likes..</h5>
                    <div style="display: flex;text-align: center;">
                        {% if like_status[i.post_id] %}
                        <form action="{{url_for('post_api.dislike_post',post_id=i.post_id)}}" , method="post">
                            <button class="like">
                                <i class="fa-regular fa-heart likebtn2" style="color: red;"></i>
                        </form>
                        {% else %}
                        <form action="{{url_for('post_api.like_post',post_id=i.post_id)}}" , method="post">
                            <button class="like">
                                <i class="fa-regular fa-heart likebtn1"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    <div>
                        <button>
                            <i class="fa-regular fa-comment"></i>
                        </button>
                    </div>

                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header flex-column">
                                    <div class="icon-box">
                                        <i class="material-icons fa-solid fa-x"></i>
                                    </div>
                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to delete these Post? You Have Chance To Restore This Post
                                        Within 30 Days</p>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form action="{{url_for('post_api.delete_post',post_id=i.post_id)}}" ,
                                        method="post">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    28-05-2024 14:22:57 one post will delete
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            } 0
        }
    </script>

</body>
{% endblock %}

</html>